.edit-modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 34vw !important;
  text-align: center;
}

.modal-delete-title {
  font-weight: 600;
}

 

.buttons-modal-edit-container {
  display: flex;
  justify-content: space-between;
}