.reserve-modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100vw !important;
  text-align: center;
}

.label-range-reserve-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.range-picker-reserve {
  width: 20vw !important;
}

.select-number-max-guests-reserve {
  width: 20vw !important;
}

.btns-reserve-form-flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.btn-pay {
  margin: 0 !important;
}

.btn-cancel-pay {
  margin: 0 !important;
}


@media (320px <=width <=480px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 80vw !important;
  }

  .select-number-max-guests-reserve {
    width: 80vw !important;
  }

  .btns-reserve-form-flex-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn-pay {
    width: 100%;
  }

  .btn-cancel-pay {
    width: 100%;
  }
}

@media (480px <=width <=576px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 60vw !important;
  }

  .select-number-max-guests-reserve {
    width: 60vw !important;
  }

  .btns-reserve-form-flex-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn-pay {
    width: 100%;
  }

  .btn-cancel-pay {
    width: 100%;
  }
}

@media (576px <=width <=768px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 45vw !important;
  }

  .select-number-max-guests-reserve {
    width: 45vw !important;
  }

  .btns-reserve-form-flex-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn-pay {
    width: 100%;
  }

  .btn-cancel-pay {
    width: 100%;
  }
}

@media (768px <=width <=1024px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 33vw !important;
  }

  .select-number-max-guests-reserve {
    width: 33vw !important;
  }
}

@media (1024px <=width <=1200px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 25vw !important;
  }

  .select-number-max-guests-reserve {
    width: 25vw !important;
  }
}

@media (1200px <=width <=1440px) {
  .reserve-modal {
    width: 100vw !important;
  }

  .range-picker-reserve {
    width: 23vw !important;
  }

  .select-number-max-guests-reserve {
    width: 23vw !important;
  }
}