.detail-description-flex-container {
  display: flex;
}

.description-sumary-complete {
  width: 50%;
}

.detail-description-summary {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  /* width: 50%; */
}

.detail-description {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  /* background-color: aquamarine; */
}


@media (320px <=width <=480px) {
  .detail-description-flex-container {
    display: block;
  }

  .description-sumary-complete {
    width: 100%;
  }
}

@media (480px <=width <=768px) {
  .detail-description-flex-container {
    display: block;
  }

  .description-sumary-complete {
    width: 100%;
  }
}

/* @media (768px <=width <=1024px) {

}

@media (1024px <=width <=1200px) {

}

@media (1200px <=width <=1440px) {

} */