.edit-form-container {
  margin: 10px 100px;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.27);
  backdrop-filter: blur(3px);
  border: 2px outset #01c38e;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.edit-form-container>h2 {
  text-align: center;
}

.flex-container-col-1-2-edit-form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.col-1-edit-form {
  flex: 1 1;
}

.col-1-edit-form>h3 {
  text-align: center;
}

.col-2-edit-form {
  flex: 1 1;
}

.col-2-edit-form>h3 {
  text-align: center;
  margin-top: 0;
}

.dates-edit-form-container {
  margin-top: 6vh;
}

.dates-edit-form-container>h3 {
  text-align: center;
}

.checkin-checkout-edit-form-container {
  margin-top: 6vh;
}

.checkin-checkout-edit-form-container>h3 {
  text-align: center;
}

.imgs-edit-form-flex-container {
  display: flex;
  justify-content: center;
}

.btns-edit-form-flex-container {
  display: flex;
  justify-content: space-around;
}

.select {
  width: 19vw !important;
}

.input {
  width: 19vw !important;
}

.textArea {
  width: 19vw !important;
}


.amenities-group {
  display: flex;
  /* Establecer el contenedor principal en flexbox */
}

.amenities-row {
  display: flex;
  /* Establecer las filas en flexbox */
  flex-direction: column;
  /* Establecer dirección en columna para elementos en cada fila */
  align-items: flex-start;
  /* Alinear elementos en cada fila a la izquierda */
  margin-right: 20px;
  /* Espacio entre las dos columnas */
}

.range-picker-edit-form {
  width: 19vw !important;
}



/* BreakPoints Ant-design: 
    xs: 480px
    sm: 576px
    md: 768px
    lg: 992px
    xl: 1200px
    xxl: 1600px 
*/

@media (320px <=width <=480px) {
  .edit-form-container {
    padding: 0 5px;
  }

  .check-in-out-container {
    display: block;
  }

  .edit-form-container {
    margin: 10px 0px;
  }

  .select {
    width: 92vw !important;
  }

  .input {
    width: 92vw !important;
  }

  .textArea {
    width: 92vw !important;
  }

  .amenities-group {
    justify-content: center;
  }

  .range-picker-edit-form {
    width: 92vw !important;
  }

  .btns-edit-form-flex-container {
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
  }

  .btn-save-changes {
    width: 100% !important;
  }

  .btn-cancel-changes {
    width: 100% !important;
  }
}

@media (480px <=width <=576px) {
  .flex-container-col-1-2-edit-form {
    display: block;
  }

  .edit-form-container {
    margin: 10px 0px;
  }

  .select {
    width: 84vw !important;
  }

  .input {
    width: 84vw !important;
  }

  .textArea {
    width: 84vw !important;
  }

  .amenities-group {
    justify-content: center;
  }
  
  .range-picker-edit-form {
    width: 84vw !important;
  }
}

@media (576px <=width <=768px) {
  .flex-container-col-1-2-edit-form {
    display: block;
  }

  .edit-form-container {
    margin: 10px 0px;
  }

  .select {
    width: 50vw !important;
  }

  .input {
    width: 50vw !important;
  }

  .textArea {
    width: 50vw !important;
  }

  .range-picker-edit-form {
    width: 50vw !important;
  }
}

@media (768px <=width <=1024px) {
  .edit-form-container {
    margin: 10px 0px;
  }

  .textArea {
    width: 20vw !important;
  }
}

@media (1024px <=width <=1200px) {
  .edit-form-container {
    margin: 10px 75px;
  }
}

@media (1200px <=width <=1440px) {
  .edit-form-container {
    margin: 10px 100px;
  }
}