.logo-container {
    display: flex;
    justify-content: right;
    align-items: center;
    /* margin: 0 5px; */
    width: 150px;
    height: 43px;
    flex: 1 1;
    /* background-color: blanchedalmond; */
}

.title-logo{
    display: block;
    color: #fff;
    font-weight: bold;
}

.logo__img {
    display: block;
    width: 100%;
    /* background-color: aqua; */
    cursor: pointer;
}