.form-register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('./../../assets/fondo_8.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-ez-rental-register-container{
  display: flex;
  justify-content: center;
}

.logo-ez-rental-register-container img{
  display: block;
  width: 150px;
}

.register-form .ant-form-item-label {
  width: 15vw !important; 
  text-align: left !important;
  left: 1vw; 
  font-weight: 500;
}

.register-form .ant-col-9.ant-form-item-label {
  margin-right: -45px !important;
}

.register-form .ant-form-item-control-input {
  width: 100%;
  margin-left: 0 !important;
}

.register-form {
  padding: 0px 16px 16px 16px;
  background-color: rgba(255,255,255,0.50);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.40);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  text-align: center;
  width: 40vw;
  margin: 50px 0;
}

.register-button {
  font-size: medium;
  height: auto;
}

.register-input {
  width: 100%;
  margin-bottom: 16px;
}

.register-form .ant-upload{
  background-color: white;
  border-radius: 8px;
}

@media (320px <=width <=480px) {
  .register-form {
    width: 95vw;
  }
}

@media (480px <=width <=576px) {
  .register-form {
    width: 95vw;
  }
}

@media (576px <=width <=768px) {
  .register-form {
    width: 80vw;
  }
}

@media (768px <=width <=1024px) {
  .register-form {
    width: 60vw;
  }
}

@media (1024px <=width <=1200px) {
  .register-form {
    width: 50vw;
  }
}

/* @media (1200px <=width <=1440px) {
  
} */


