 .side-menu-container {
   height: 100%;
   width: 17%;
   background: linear-gradient(to top,#001529 ,#000c17 , #001c32);
   padding: 10px;
   /* overflow: auto; */
   position: fixed;
   transition: width 0.2s;
 }

 .side-menu-container--collapsed {
   width: 70px;
   transition: width 0.2s; /* Estilo para header fijo */
 }

 .button-logo-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 !important;
   padding: 0 !important;
 }

 .user-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   gap: 10px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0;
   padding: 10px;
   width: 100%;
 }

 .avatar-username-container {
   display: flex;
   align-items: center;
   gap: 17px;
 }

 .avatar-container {
   width: 100% !important;
   transition: width 0.2s; /* Estilo para header fijo */
 }

 .username-container {
   color: #fff;
   width: 100%;
   transition: width 0.2s; /* Estilo para header fijo */
   
 }

 .email-container {
   display: flex;
   justify-content: center;
   color: #f5f5f5b1;
   width: 100%;
   transition: width 0.2s; /* Estilo para header fijo */
 }

 .email-container>h4 {
   display: block;
   margin: 0;
   padding: 0;
 }

 .btn-logout {
   width: 100%;
 }

 .side-menu__menu-btn--active {
   display: block;
   height: 43px;
   width: 50px;
   /* margin: 10px 0 10px 10px; */
 }


 @media (280px <=width <=1024px) {
   .side-menu-container {
     width: 60%;
   }

   .side-menu__menu-items {
     height: 100%;
   }
 }


 /* @media only screen and (max-width: 1000px) {
    .side-menu-container {  
        width: 60%;
    }

    .side-menu__menu-items{
        height: 100%;
    }
} */