.detail-contact-ubication-flex-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.detail-contact-ubication-container {
  /* border: 0px outset #000; */
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-left: 20px;
}

.detail-contact-container>h3 {
  display: inline;
}


.wpp-icon {
  color: #1AD03F;
  font-size: 18px;
}

.wpp-icon:hover {
  cursor: pointer;
  color: #19a034;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.7);
  border-radius: 18px;
}

.detail-address-ubication-container > h3{
  display: inline;
}

.detail-address-ubication-container img{
  width: 2vw;
}

.detail-address-ubication-container img:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.7);
  border-radius: 14px;
}


@media (320px <=width <=480px) {
  .detail-contact-ubication-flex-container {
    width: 100%;
  }

  .detail-contact-ubication-container {
    margin-left: 0;
    width: 60%;
  }

  .detail-address-ubication-container img{
    width: 7vw;
  }
}

@media (480px <=width <=576px) {
  .detail-contact-ubication-flex-container {
    width: 100%;
  }

  .detail-contact-ubication-container {
    margin-left: 0;
    width: 60%;
  }

  .detail-address-ubication-container img{
    width: 6vw;
  }
}

@media (576px <=width <=768px) {
  .detail-contact-ubication-flex-container {
    width: 100%;
  }

  .detail-contact-ubication-container {
    margin-left: 0;
    width: 50%;
  }

  .detail-address-ubication-container img{
    width: 6vw;
  }
}

@media (768px <=width <=1024px) {
  .detail-address-ubication-container img{
    width: 3vw;
  }
}

@media (1024px <=width <=1200px) {
  .detail-address-ubication-container img{
    width: 3vw;
  }
}

@media (1200px <=width <=1440px) {
  .detail-address-ubication-container img{
    width: 2vw;
  }
}