.qr-code-modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

.qr-code{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.payment-confirmation-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  font-size: 20px;
}


.btns-payment-confirmation-modal {
  display: flex;
  justify-content: space-between;
}



