.img-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 45vw;
  background-color: #000D1A;
  border-radius: 4px;
}

.carousel-detail-img {
  width: 100% !important;
}

.carousel-detail__img {
  object-fit: fill !important;
  margin: auto !important;
  width: 45vw !important;
  height: 40vh !important;
}

.carousel-detail__description{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
  font-size: 0.9em;
  height: 40px;
}


/* background-image: url('../../assets/homePageEnDesarrollo.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */


@media (320px <=width <=480px) {
  .img-container {
    width: 90vw;
  }

  .carousel-detail__img {
    width: 90vw !important;
    height: 20vh !important;
  }

  .carousel-detail__description{
    height: 35px;
  }
}

@media (480px <=width <=768px) {
  .img-container {
    width: 70vw;
  }

  .carousel-detail__img {
    width: 70vw !important;
    height: 20vh !important;
  }
  .carousel-detail__description{
    height: 37px;
  }
}

@media (768px <=width <=1024px) {
  .img-container {
    width: 60vw;
  }

  .carousel-detail__img {
    width: 60vw !important;
    height: 30vh !important;
  }

  .carousel-detail__description{
    height: 37px;
  }
}

@media (1024px <=width <=1200px) {
  .img-container {
    width: 50vw;
  }

  .carousel-detail__img {
    width: 50vw !important;
    height: 30vh !important;
  }

  .carousel-detail__description{
    height: 37px;
  }
}

@media (1200px <=width <=1440px) {
  .img-container {
    width: 45vw;
  }

  .carousel-detail__img {
    width: 45vw !important;
    height: 40vh !important;
  }

  .carousel-detail__description{
    height: 40px;
  }
}