.display-filter-ads {
  display: block;
}

.filter-ads-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 15px; */
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.266);
  backdrop-filter: blur(3px);
  border: 1px outset #01c38f18;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  padding: 0 25px;
  margin: 0 30px;
  margin-bottom: 17px;
}

.filter-search-keyword {
  width: 200px;
}

.filter-country {
  width: 100px !important;
}

.filter-city {
  width: 110px !important;
}

.filter-range-dates {
  width: 180px !important;
}

.filter-count-guest {
  width: 110px !important;
}

.filter-range-price-container {
  width: 250px;
}

/* .filter-range-price{

} */


.range-price-selected {
  text-align: center;
  color: gray;
}

.btn-reset-filters {
  padding: 0 5px !important;
}

.places-count {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
}


@media (320px <=width <=480px) {
  .display-filter-ads {
    display: none;
  }
}

@media (480px <=width <=576px) {
  .display-filter-ads {
    display: none;
  }
}

@media (576px <=width <=768px) {
  .display-filter-ads {
    display: none;
  }
}

@media (768px <=width <=1024px) {
  .display-filter-ads {
    display: none;
  }
}

@media (1024px <=width <=1200px) {
  .filter-ads-container {
    border-radius: 20px;
    gap: 0px;
    padding: 0 10px;
    margin: 0 0;
    margin-bottom: 17px;
  }

  .places-count {
    display: flex;
    margin-left: 10px;
  }

  .btn-reset-filters {
    display: block;
  }

  .btn-reset-filters-text {
    display: none !important;
  }
}

/* @media (1200px <=width <=1440px) {
  
} */